*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif,Arial, Helvetica;
    margin: 0;
    background-color: grey;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quiz-container{
    width: 600px;
    max-width: 100%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px 2px rgba(100,100,100,0.2);
}
.quiz-header {
    padding: 1rem;
    text-align: center;
}
ul{
    list-style-type: none;
    padding: 0 ;
}
button{
    background-color:blueviolet;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    border: none;
    display: block;
    padding: 1.3rem;
    color: white;
}
button:hover{
    background-color:blue;
}