@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-image: url("snow.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: "Popppins", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  font-weight: normal;
  font-size: 3rem;
  margin-top: 5rem;
  text-align: center;
}
.countdown-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.big-text {
  font-size: 5rem;
  line-height: 1;
  margin: 1rem 2rem;
  font-weight: bold;
}
.countdown-el {
  text-align: center;
}
.countdown-el span {
  font-size: 1.3rem;
}
